/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/*/mix/*
/public/page/css/mix/*
/public/js/app.js
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/.env
.env
*.env
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/sublime-project
*.sublime-workspace
*.sublime-project
*.code-workspace
log.txt
