/*  Admin SASS */
.link-pendientes {
  padding: 2px 10px;
  background-color: #8cc5f3;
  border-radius: 10px;
  color: #484848;
  margin-left: 20px;
}

.link-pendientes:hover,
.link-pendientes:active {
  color: black;
  background-color: #6bb0e7;
}

.blinking {
  -webkit-animation: 1s blink ease infinite;
  animation: 1s blink ease infinite;
}

.text-right-important {
  text-align: right !important;
}

@-webkit-keyframes up-right {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }

  50% {
    transform: scale 1, 5;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

@keyframes up-right {
  0% {
    transform: scale(1);
    opacity: 0.25;
  }

  50% {
    transform: scale 1, 5;
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0.25;
  }
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: 0.25;
}

.red {
  background-color: rgba(255, 0, 0, 0.7607843137);
  position: absolute;
  -webkit-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}

.green {
  background-color: rgba(0, 255, 149, 0.6509803922);
  position: absolute;
  -webkit-animation: up-right 1s infinite;
  animation: up-right 1s infinite;
}

body.admin .main-header .navbar {
  background-color: #48558d;
}

body.admin .main-header .logo {
  background-color: #48558d;
}

body.admin .informacion_empresa {
  display: inline;
  top: 10px;
  position: relative;
  top: 1.4em;
  font-size: 1em;
  color: #fff;
  font-weight: normal;
}

body.admin .informacion_empresa .title-panel {
  font: 1.2em Helvetica, sans-serif;
  font-weight: bold;
}

input[disabled].disabled-no-border {
  border-color: transparent;
  border-style: inherit;
}

.nav-custom-2 {
  margin-bottom: 0;
  box-shadow: none;
  border-radius: 0;
}

.no-notificacion {
  text-align: center;
  color: #7d8e7d;
}

.btn.ultra.active {
  box-shadow: inset 0 0 5px 2px #ccc;
}

body.admin .home .info-box {
  font-family: sans-serif;
  transition: 1s all;
  border: 1px solid #cccccc;
  box-shadow: 0 0 3px 1px #ccc;
}

body.admin .home .info-box .info-box-icon {
  color: white;
  background-color: rgb(197, 197, 197);
}

body.admin .home .info-box .info-box-icon .fa:before {
  content: "\f10c";
}

body.admin .home .info-box .info-box-content .info-box-number {
  font-weight: bold;
  font-size: 18px;
}

body.admin .home .info-box:hover {
  box-shadow: none;
}

body.admin .home .info.info-empresas_activas .info-box-icon .fa:before {
  content: "\f0f7";
}

body.admin .home .info.info-empresas_activas .info-box-icon {
  background-color: #3a85a5;
}

body.admin .home .info.info-ventas_totales .info-box-icon .fa:before {
  content: "\f0f6";
}

body.admin .home .info.info-ventas_totales .info-box-icon {
  background-color: #389135;
}

body.admin .home .info.info-compras_totales .info-box-icon .fa:before {
  content: "\f0f6";
}

body.admin .home .info.info-compras_totales .info-box-icon {
  background-color: #d96666;
}

body.admin .home .info.info-usuarios_activos .info-box-icon .fa:before {
  content: "\f0c0";
}

body.admin .home .info.info-usuarios_activos .info-box-icon {
  background-color: #00d5ff;
}

body.admin .action-box .box-title {
  margin-left: 20px;
  color: gray;
}

body.admin .action-box .box-header .btn-label {
  color: #b3b3b3;
  font-style: italic;
  font-size: 1em;
  border: 1px solid #bba3a3;
  padding: 0 10px;
  padding: 0 12px;
  border-radius: 10px;
}

body.admin .action-box .box-header .btn-label:hover {
  color: #666666;
  background-color: #fafafa;
  border: 1px solid #666666;
}

body.admin .action-box .action-item {
  padding: 10px 15px;
  border-radius: 20;
  font-size: 1.1em;
  border: 1px solid transparent;
  border-left: 3px solid #999999;
  text-transform: uppercase;
  transition: 0.5s all;
}

body.admin .action-box .action-item a {
  color: inherit;
  text-decoration: none;
}

body.admin .action-box .action-item:hover {
  border-left-color: #333333;
  color: inherit;
  text-decoration: none;
  border: 1px solid #999999;
  border-left: 3px solid #dc3b3b;
  color: black;
  background-color: #ffe5e5;
}

body.admin .action-box .action-item:hover a {
  color: #dc3b3b;
}

body.admin .action-box .label {
  border: 1px solid black;
  color: white;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.7215686275);
  font-weight: bold;
  font-style: italic;
  letter-spacing: 1px;
}

body.admin .action-box .label-date {
  color: #979696;
  font-style: italic;
  margin-left: 10px;
}

body.admin .action-box .no-acciones {
  text-align: center;
  text-transform: uppercase;
  color: #9a9b9a;
  word-spacing: 10px;
  border-radius: 20px;
  font-style: italic;
}

body.admin .action-box.box-danger {
  border: 1px solid #dc3b3b;
}

body.admin .action-box.box-success {
  border: 1px solid #30c450;
}

.data-pendientes .info {
  text-align: center;
}

.data-pendientes .info .info-container {
  border-bottom: 1px dotted #999;
}

.data-pendientes .info .descripcion {
  color: gray;
}

.data-pendientes .info .value {
  font-weight: bold;
  margin-left: 10px;
}

#datatable-documentos .input-modify-date:disabled {
  border-color: transparent;
}

#datatable-documentos .btn-modify-date,
#datatable-documentos .btn-cancel-modify-date,
#datatable-documentos .btn-save-modify-date {
  color: #999999;
  background: transparent;
}

#datatable-documentos .btn-modify-date :hover,
#datatable-documentos .btn-cancel-modify-date :hover,
#datatable-documentos .btn-save-modify-date :hover {
  color: black;
}

#datatable-documentos .btn-cancel-modify-date {
  color: #c16565;
  margin-left: 5px;
}

#datatable-documentos .btn-cancel-modify-date :hover {
  color: #db4f4f;
}

#datatable-documentos .btn-save-modify-date {
  color: #3c8dbc;
}

#datatable-documentos .btn-save-modify-date :hover {
  color: #08659b;
}

.no-data-pendientes .title-data {
  text-align: center;
  font-weight: bold;
  color: #578d57;
  font-size: 1.1em;
  text-transform: uppercase;
}

.no-data-pendientes .data-update {
  text-align: center;
  color: #9f9f9f;
}

.opciones-entidad .seccion-titulo {
  text-align: center;
  font-size: 1.5em;
  color: gray;
  margin-bottom: 20px;
}

.opciones-entidad .opcion-btn {
  margin-bottom: 3px;
}

.btn-suscripcion-enlace {
  padding: 2px 5px;
  color: #484848;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s all;
}

.btn-suscripcion-enlace :hover {
  color: initial;
  background: initial;
}

.btn-suscripcion-enlace .plan-codigo {
  color: rgba(106, 145, 169, 0.6705882353);
}

.btn-suscripcion-enlace .plan-fecha {
  font-weight: 900;
}

.btn-suscripcion-enlace.suscripcion-1 {
  background-color: rgba(110, 188, 126, 0.1215686275);
}

.btn-suscripcion-enlace.suscripcion-0 {
  background-color: rgba(255, 0, 2, 0.1215686275);
}

/**/
.row.enviar-directo {
  border-bottom: 1px solid #c3c2c2;
  margin-bottom: 20px;
  border-top: 1px solid #c3c2c2;
  margin-top: 20px;
}

.plan-link {
  font-weight: 900;
}

.plan-link.is-empresa {
  color: black;
}

.plan-link.is-maestro {
  color: #48558d;
}

.parent-caracteristica.empresa {
  color: black;
}

.parent-caracteristica.maestro label {
  color: red;
}

.labelPrecioMinimo {
  color: #565fc4;
  font-weight: 600;
  font-size: .8em;
  position: absolute;
  right: 2em;
  top: 2px;
}