.no-data-pendientes {

  .title-data {
    text-align: center;
    font-weight: bold;
    color: #578d57;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  .data-update {
    text-align: center;
    color: #9f9f9f;
  }

}